
body{
    background-color: lightgray !important;
}
.container { 
    background-color: gray;
    padding: 30px;
    height: auto;
    /* position: relative; */
    border: 8px solid green; 
    border-radius: 50px;
  }
 

 
h1,h2,p{
    font-family: "sans-serif";
    background-color: rgb(50, 61, 65);
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border: 2px solid rgb(41, 37, 37);
    border-radius: 50px 20px;
    
}

.choice{
    font-family: "sans-serif";
    /* background-color: #01BBFF; */
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 2px 0px;
    background-color: green;
    border: 2px solid rgb(41, 37, 37);
    border-radius: 50px;

}
 

 
#question {
    font-family: "monospace";
    font-size: 30px;
    color: white;
}
 a{
     margin-left: 40%;
     margin-bottom: 20px;
 }


 #btn{
     font-weight: bold;
     display:inline-block;
     padding: 10px;
    margin-bottom: 10px;
 }

 .btn-primary{
    font-weight: bold;
    display:inline-block;
    background-color: green !important;
    width: 200px;
    border-radius: 20px !important;
    border: 2px solid rgb(41, 37, 37) !important;
 }